<!DOCTYPE html>
<html lang="es">
    <%-include('./partials/head')%>
<body class="login">
    <%- include('./partials/header')  %> 
    <main class="main-login">
        <div class="row">
            <div class="col-12 col-md-15 mx-auto mt-8">
            <form action="" method="POST" id="form-login" autocomplete="off">
            
                <div class="formulario">
                    <h2>Iniciar sesión</h2>
    
                    <div class="box-formulario">
    
                        <!-- Email -->
    
                        <div class="box-form">
                            <label for="email" class="primer-label">Correo electrónico</label>
                        <input type="email" name="email" id="email" placeholder="correo@correo.com" value="<%= locals.old && old.email ? old.email : null %>">
                        </div>
                        <span class="error"  id="error-email"><%= locals.errores && errores.email ? errores.email.msg : null %></span>
                        <span  class="small text-info"></span>
    
    
                        <!-- password -->
    
                        <div class="box-form">
                            <label for="password" class="primer-label">Contraseña</label>
                            <input type="password" name="password" id="password">
                        </div>
                       
                        <span class="error" id="error-password"><%= locals.errores && errores.password ? errores.password.msg : null %></span>
                        
                        
                        <!-- recuperar clave -->
                    <div class="box-error">
                        <a href=""><p>Olvidé mi contraseña</p></a> 
                    </div>
                        <!-- remember me -->
                        <div class="box-error">
                            <div class="box-remember">
                                <input type="checkbox" name="remember" id="remember">
                                <label for="remember">Recordarme</label>
                            </div> 
                        </div>
                        
                       
                        
                        
    
                    </div>
                <div class="box-crea-cuenta">
                    <a href="/users/register"><p>No tengo cuenta. Crea una.</p></a>        
                </div>
                        
                <div class="box-button">
                    <button type="submit">Ingresar</button>
                </div>
                
            </form>
        </div>
    </div>
    </main>
    <%-include('./partials/footer')%>

    <%-include('./partials/scripts')%>

    <script src="/javascripts/loginValidator.js"></script>
</body>
</html>