<!DOCTYPE html>
<html lang="es">
    <%-include('./partials/head')%>
    
<body class="register">
    <%-include('./partials/header')%>
    <main class="main-register">
        <form action="" method="POST" id="form-register">
            <div class="formulario">
                <h2>Crea una Cuenta</h2>
                <div class="box-formulario">
                    <div class="box-form">
                        <label for="name" class="primer-label">Nombre</label>
                        <input  type="text" name="name" id="name" value="<%= locals.old && old.name ? old.name : null %>">
                        <span class="error"><%= locals.errores && errores.name ? errores.name.msg : null %></span>
                        <span id="info-name" class="small text-info"></span>
                    </div>
                    <div class="box-form">
                        <label for="email">Correo electrónico</label>
                        <input  type="email" name="email" id="email" value="<%= locals.old && old.email ? old.email : null %>">
                        <span class="error"><%= typeof error != 'undefined' && error.email ? error.email : null %></span>
                        <span class="error"><%= locals.errores && errores.email ? errores.email.msg : null %></span>
                        <span id="info-email" class="small text-info"></span>
                        
                    </div>
                    <div class="box-form">
                        <label for="password">Contraseña</label>
                        <input  type="password" name="password" id="password">
                    <span class="error"><%= locals.errores && errores.password ? errores.password.msg : null %></span>
                    <span id="info-password" class="small text-info"></span>
                    </div>

                    <div class="box-form">
                        <label for="pass2">Reingrese contraseña</label>
                        <input class="ultimo-input" type="password" name="pass2" id="pass2">
                        <span id="error-pass2" class="small text-danger"><%= locals.errores && errores.pass2 ? errores.pass2.msg : null %> </span>
                    </div>
            </div>
             
            <div class="box-check-box">
                <div class="box-check">
                    <input type="checkbox" name="terms" id="terms">
                    <label for="terms">Acepto términos y condiciones</label>
                   
                </div>  <span id="error-terms" ><%= locals.errores && errores.terms ? errores.terms.msg : null %> </span>
                
            </div>
            <div class="box-button">
                <button type="submit">Registrarse</button>
            </div>
            <div class="box-crea-cuenta">
                <a href="/users/login"><p>Ya tengo cuenta.</p></a>        
                </div>
        </div>
            
        </form>
    </main>
    <%-include('./partials/footer')%>
<script src="/javascript/registerValidator.js"></script>
<%-include('./partials/scripts')%>
</body>
</html>