<!DOCTYPE html>
<html lang="es">

<%-include('./partials/head')%>
    <body class="bg-light">
        <%-include('./partials/header')%>
        <!--cuerpo-->
        <main class="container">
            
        <div class="row" >
            <div class="col 12 col-lg-8 mx auto">
              
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <% products.forEach((product,home) => { %>
                    <tr>
                      <th scope="row"><%= home + 1 %> </th>
                      <td><img width="50" src="/img/<%= product.image %>" alt="imagen"></td>
                      <td><%= product.name %></td>
                      <td><%= product.price %></td>
                      <td><%= product.category %></td>
                      <td class="d-flex justify-content-around">
                        <a href="/products/edit/<%= product.id %>" class="btn btn-sm btn-success" style="width: 35px;"><i class="fas fa-edit"></i></a>
                        <div>
                          <form action="/products/destroy/<%= product.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-sm btn-danger" style="width: 35px;"><i class="fas fa-trash"></i></button>
                          </form>
                        </div>
                      </td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
        </div>
        
        <%-include('./partials/scripts')%>
      
    </body>

</html>