<!DOCTYPE html>
<html lang="es">

    <%-include('./partials/head')%>
<body>
    <%-include('./partials/header')%>

    <!--Detalle del producto-->

    <main class="detail">

        <!--contenedor imagenes -->
        <div class="box-detail">

            <div class="box-products">
                <!-- Imagen Grande  -->
                <div class="images">
                    <img id="img-main" src="/img/products/<%= products.image[0] %>" alt="">
                </div>
                <!-- Imagenes pequeñas  -->
                <div class="images-min">
                    <% products.image.forEach(image => { %>
                        <div class="box-img-min">
                            <img class="img-mini" src="/img/products/<%= image %>" alt="" onclick="document.getElementById('img-main').setAttribute('src','/img/products/<%=image%>')">
                        </div>
                    <% }) %>
                </div>

            </div>
            
        </div>

        <div class="box-content">
            <!--informacion del producto -->
            <div class="box-info">
                <div>
                    <h2><%= products.name %></h2>
                    <h3> $<%= products.price %></h3>
                </div>
            </div>
            <hr>
            <!-- Contrato compra venta-->
            <div class="box-contrato">
                <!--Seleccionar cantidda-->
                <div class="cantidad-carrito">
                    <div class="box-form">
                    <h4>Cantidad</h4>
                        <div class="botones">
                            <input type="submit" value="-" id="menos">
                            <input type="number" value="1" id="cantidad">
                            <input type="submit" value="+" id="mas">
                        </div>
                    </div>
                    <!-- Boton agregar al carrito-->
                    <div class="btn-carrito">
                        <button>
                            <div class="boton-carrito-a">
                                <i class="fas fa-cart-plus"></i> <a href="/carrito"> Agregar al carrito </a>
                            </div>
                        </button>
                    </div>
                </div>

                <!--Metorodos de pago-->

                <div class="pagos">
                    
                    <input type="checkbox" id="btn-modal">
                    <label for="btn-modal" class="lbl-modal">Métodos de pagos <i class="far fa-address-card"></i> <i class="fas fa-sign-in-alt"></i> <i class="fas fa-university"></i></label>
                <!-- Ventana de pagos -->
                <div class="modal">
                    <div class="cont">
                        <header><h2><i class="far fa-credit-card"></i> Elegí como pagar</h2></header>
                        <label for="btn-modal">X</label>
                        <div class="contenido">
                            <div class="pagar">
                                <h4>
                                    Descuento con transferencias
                                </h4>
                                <img src="/img/mercado-pago.png" alt="">
                            </div>
                            <div class="pagar">
                                <h4>
                                    12 cuotas sin interes con
                                </h4>
                                <img src="/img/visa.png" alt="">
                                <img src="/img/mastercard.png" alt="">
                                <img src="/img/naranja.png" alt="">
                            </div>
                            <div class="pagar">
                                <h4>
                                    Pagos con débito
                                </h4>
                                <img src="/img/visa-debito.png" alt="">
                                <img src="/img/mastercard-debito.png" alt="">
                                <img src="/img/cabal-debito.png" alt="">
                            </div>
                            <div class="pagar">
                                <h4>
                                    Pagos en efectivo
                                </h4>
                                <img src="/img/pagofacil.png" alt="">
                                <img src="/img/rapipago.png" alt="">
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="mas-detalle">
                    <li><a href="/formas-de-pago">más detalle</a></li>
                </div>

                </div>

                <!-- Envio-->

                <div class="envio">
                    <div class="truck">
                        <h4><i class="fas fa-truck"></i>  Envío </h4>
                    </div>
                    <!--calcular costo de envio -->
                    <div class="calcular-costo">
                            <p>
                                Calcular costo de envío
                            </p>
                        <div class="box-form">
                            <div class="codigo">
                                <input type="text" placeholder="tu codigo postal" id="codigo-postal" name="odigo-Postal">
                            </div>
                            <div class="calcular">
                                <input type="submit" value="calcular">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        </div>
</main>
<main class="descripcion">
        <p><%= products.description %> </p>
</main>
<%-include('./partials/footer')%>
    <%-include('./partials/scripts')%>
  
</body>


</html>