<!DOCTYPE html>
<html lang="es">
    <%-include('./partials/head')%>
<body class="login">
   <%- include('./partials/header')  %> 
    <main class="main-login">
        <form action="" method="POST" >
            <div class="formulario">
                <h2>Iniciar sesión</h2>
                <div class="box-formulario">
                    <div class="box-form">
                        <label for="email" class="primer-label">Correo electrónico</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="box-form">
                        <label for="pass">Contraseña</label>
                    <input type="password" name="pass" id="pass">
                    </div>
                    
                <div class="box-error">
                   <a href=""><p>Olvidé mi contraseña</p></a> 
                </div>
                   <div class="box-error">
                    <div class="box-remember">
                        <input type="checkbox" name="remember" id="remember">
                        <label for="remember">Recordarme</label>
                       
                    </div> 
                </div>
            </div>
            <div class="box-crea-cuenta">
            <a href="/users/register"><p>No tengo cuenta. Crea una.</p></a>        
            </div>
            
            <div class="box-error">
                <span><%= locals.errores && errores.email ? errores.email.msg : null %> </span>       
                </div>
             
            <div class="box-button">
                <button type="submit">Ingresar</button>
            </div>
            
        </form>
    </main>
    <%-include('./partials/footer')%>

    <%-include('./partials/scripts')%>
</body>
</html>