<!DOCTYPE html>
<html lang="es">
    <%-include('./partials/head')%>
<body>
    <%-include('./partials/header')%>
            <main class="container">
                <div class="row mb-5">
                    <div class="col-12 col-md-10 col-lg-8 mt-5 mx-auto" style="border-radius: 30px;">
                        <div class="card">
                            <div class="card-header text-light" style="background-color: #fb9d5a;">
                                <h4>Perfil de usuario</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <img class="img-fluid rounded-start" style="border: #383e56;" src="/img/users/<%= user.image %>" alt="img-rota">
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <form class="row" method="POST" enctype="multipart/form-data">
                                            <div class="col-12 mb-3">
                                                <div class="form-floating ">
                                                    <input type="text" class="form-control " id="name" placeholder="Nombre" name="name" value="<%= user.name %> ">
                                                    <label for="name">Nombre</label>
                                                </div>
                                                    <span class="text-danger small ms-2"></span>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <div class="form-floating ">
                                                    <input type="text" class="form-control" id="email" placeholder="Email" name="email" value="<%= user.email %>" disabled>
                                                    <label for="email">Email</label>
                                                  </div>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <div class="form-floating ">
                                                    <input type="pass" class="form-control" id="pass" placeholder="Contraseña" name="pass" >
                                                    <label for="pass">Cambiar contraseña</label>
                                                  </div>
                                                  <span class="text-danger small ms-2"> </span>
        
                                            </div>
                                           <div class="col-12 col-md-6">
                                            <div class="mb-3 mt-3">
                                                <label for="image" class="btn btn-outline-secondary w-100 mt-2">Subir imagen de perfil</label>
                                                <input hidden class="form-control" type="file" id="image" name="image">
                                            </div>
                                           </div>
                                           <div class="d-flex justify-content-center col-12 mt-5">
                                            <button type="submit"
                                                style="height: 40px; width: 180px; border-radius: 30px; background-color: #fb9d5a; border: none; margin-bottom: 20px;" class="btn btn-primary">Guardar</button>
                                        </div>
                                      </form>
                                    </div>
                                </div>
                                
                            </div>
                           
                        </div>
                    </div>
                   
                </div>
            </main>
<%-include('./partials/footer')%>
    <%-include('./partials/scripts')%>
    </body>

        </html>